[submodule "VidInjector9002.5/wxWidgets-3.2.6"]
	path = VidInjector9002.5/wxWidgets-3.3.1
	url = https://github.com/wxWidgets/wxWidgets
[submodule "VidInjector9002-CLI/nnc"]
	path = VidInjector9002-CLI/nnc
	url = https://github.com/FoofooTheGuy/nnc
